.btn-badge {
  height: 26px;
  cursor: default !important;
  text-transform: initial !important;
}

.table-head th {
  font-weight: 600;
}

.box-active {
  background-color: rgb(244, 67, 54) !important;
}
